[submodule "bisq"]
	path = bisq
	url = https://github.com/bisq-network/bisq.git
	branch = master
[submodule "bisq-gradle"]
	path = bisq-gradle
	url = https://github.com/bisq-network/bisq-gradle.git
	branch = main
