[Unit]
Description=Bisq Price Node
After=network.target

[Service]
SyslogIdentifier=bisq-pricenode
EnvironmentFile=/etc/default/bisq-pricenode.env
ExecStart=/bisq/bisq-pricenode/bisq-pricenode 2
ExecStop=/bin/kill -TERM ${MAINPID}
RuntimeMaxSec=24hr
Restart=always

User=bisq
Group=bisq

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
